@using Microsoft.AspNetCore.Identity
@using projFront.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var paginaSelecionada = @ViewData["PaginaSelecionada"];
    var DireitoUsuario = @ViewData["DireitoUsuario"];
}

@if (SignInManager.IsSignedIn(User))
{
     
    @if (Convert.ToString(DireitoUsuario) == "Admin")
    {
        <li class="nav-link active link-body-emphasis"><a asp-area="Identity" asp-page="/Account/Register">Cadastrar Novo Usuário</a></li>
    }
    
    <li class="nav-link active link-body-emphasis"><a asp-area="Identity" asp-page="/Account/Logout">Sair</a></li>
}
else
{
    <li class="nav-link active link-body-emphasis"><a asp-area="Identity" asp-page="/Account/Register">Cadastrar</a></li>
    <li class="nav-link active link-body-emphasis"><a asp-area="Identity" asp-page="/Account/Login">Entrar</a></li>
}