@{
    var paginaSelecionada = @ViewData["PaginaSelecionada"];
    var DireitoUsuario = @ViewData["DireitoUsuario"];
}

<ul class="nav nav-pills flex-column mb-auto">

    @if (paginaSelecionada == "Home")
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">

                <img class="bi pe-none me-2" width="16" height="16" src="~/images/home.png" />
               
                Home
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/home.png" />
                Home
            </a>
        </li>
    }



    @if (paginaSelecionada == "Bancos")
    {
        <li>
            <a class="nav-link active " asp-controller="Bancos" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/logobank.png"  />
                
                
                Bancos
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link " asp-controller="Bancos" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/logobank.png"  />
                Bancos
            </a>
        </li>
    }

    @if (paginaSelecionada == "Empresas")
    {
        <li>
            <a class="nav-link active " asp-controller="Empresas" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/company.png" />
                Empresas
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link" asp-controller="Empresas" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/company.png" />
                Empresas
            </a>
        </li>
    }

    @if (paginaSelecionada == "NotaFiscal")
    {
        <li>
            <a class="nav-link active" asp-controller="NotaFiscals" asp-action="Index">

                <img class="bi pe-none me-2" width="16" height="16" src="~/images/invoice.png" />

                Notas Fiscais
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link " asp-controller="NotaFiscals" asp-action="Index">
                <img class="bi pe-none me-2" width="16" height="16" src="~/images/invoice.png" />
                Notas Fiscais
            </a>
        </li>
    }
    @if(Convert.ToString(DireitoUsuario) == "Admin")
    {
        @if (paginaSelecionada == "Usuarios")
        {
            <li>
                <a class="nav-link active " asp-controller="Usuarios" asp-action="Index">
                    <img class="bi pe-none me-2" width="16" height="16" src="~/images/users.png" />

                    Usuários
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link " asp-controller="Usuarios" asp-action="Index">
                    <img class="bi pe-none me-2" width="16" height="16" src="~/images/users.png" />
                    Usuários
                </a>
            </li>
        }
    }
    

</ul>

