@model projFront.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Criar Empresa";
}

<h1>Nova empresa</h1>


<hr />

<div class="card">
    <div class="card-body">
        <div class="basic-form">
            <form asp-action="Create" class="row gy-2 gx-3 align-items-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-auto col-sm-8">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" oninput="mascaraTelefone(this)" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            <div class="form-group col-auto col-sm-5">
                    <label asp-for="Cnpj" class="control-label"></label>
                    <input asp-for="Cnpj" class="form-control" oninput="mascaraCNPJ(this)" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
            <div class="form-group col-auto col-sm-5">
                    <label asp-for="Ie" class="control-label"></label>
                    <input asp-for="Ie" class="form-control" />
                    <span asp-validation-for="Ie" class="text-danger"></span>
                </div>
                <div class="col-auto col-sm-4">
                    <label asp-for="Cep" class="control-label"></label>
                    <input asp-for="Cep" class="form-control" onblur="ConsultaCEP(this.value)" oninput="mascaraCEP(this)" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-8">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" id="Endereco" name="Endereco" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-2">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-3">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control" id="Bairro" name="Bairro" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-5">
                    <label asp-for="NomeCidade" class="control-label"></label>
                    <input asp-for="NomeCidade" class="form-control" id="NomeCidade" name="NomeCidade" />
                    <span asp-validation-for="NomeCidade" class="text-danger"></span>
                </div>
                <div class="col-auto col-sm-2">
                    <label asp-for="UF" class="control-label"></label>
                    <input asp-for="UF" class="form-control" id="UF" name="UF" />
                    <span asp-validation-for="NomeCidade" class="text-danger"></span>
                </div>
            
            <div class="col-auto col-sm-3">
                    <label asp-for="FaturaSerie" class="control-label"></label>
                    <input asp-for="FaturaSerie" class="form-control" />
                    <span asp-validation-for="FaturaSerie" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-3">
                    <label asp-for="FaturaUltimoNumero" class="control-label"></label>
                    <input asp-for="FaturaUltimoNumero" class="form-control" />
                    <span asp-validation-for="FaturaUltimoNumero" class="text-danger"></span>
                </div>
            <div class="col-auto col-sm-10">
                    <label asp-for="MensagemFisco" class="control-label"></label>
                    <input asp-for="MensagemFisco" class="form-control" />
                    <span asp-validation-for="MensagemFisco" class="text-danger"></span>
                </div>
                <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
                <a class="btn btn-warning" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    <div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
               
                function mascaraTelefone(input) {
                    // Remove todos os caracteres não numéricos
                    var telefone = input.value.replace(/\D/g, '');

                    // Checa se o número tem 11 dígitos (com DDD)
                    if (telefone.length === 11) {
                        // (DD) 9XXXX-XXXX
                        telefone = telefone.replace(/^(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
                    } else if (telefone.length === 10) {
                        // (DD) XXXX-XXXX
                        telefone = telefone.replace(/^(\d{2})(\d{4})(\d{4})/, '($1) $2-$3');
                    } else {
                        return; // Número inválido
                    }

                    input.value = telefone;
                }
                function mascaraCNPJ(el) {
                    var cnpj = el.value.replace(/\D/g, "");
                    cnpj = cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");
                    el.value = cnpj;
                }

                function mascaraCEP(el) {
                    var cep = el.value.replace(/\D/g, "");
                    cep = cep.replace(/(\d{5})(\d{3})/, "$1-$2");
                    el.value = cep;
                }

                function ConsultaCEP(valor) {

                    console.log(valor)

                    urlBusca = "https://brasilapi.com.br/api/cep/v1/" + valor;

                    console.log(urlBusca)

                    // Criando um objeto XMLHttpRequest
                    var xhr = new XMLHttpRequest();

                    // Configurando a requisição (GET para buscar dados)
                    xhr.open('GET', urlBusca);

                    // Função para lidar com a resposta
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // Requisição bem-sucedida

                            var dadosEndereco = xhr.responseText;
                            var dadosEnderecoJson = JSON.parse(dadosEndereco);

                            document.getElementById('Endereco').value = dadosEnderecoJson.street;

                            document.getElementById('Bairro').value = dadosEnderecoJson.neighborhood;
                            document.getElementById('NomeCidade').value = dadosEnderecoJson.city;
                            document.getElementById('UF').value = dadosEnderecoJson.state;
                        } else {
                            // Houve um erro
                            console.error('Erro na requisição:', xhr.statusText);
                        }
                    };

                    // Enviando a requisição
                    xhr.send();
                }

    </script>

}
