@model projFront.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3 style="margin-top: 15px;">Deseja realmente deletar a empresa ?</h3>
<div>

    <hr />


    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">

            <div class="basic-form">

                <div class="col-md-10">

                    <div class="row gy-2 gx-3 align-items-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdEmpresa" />
                        <div class="form-group col-auto col-sm-8">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control"  disabled />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto col-sm-2">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control" disabled />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto col-sm-5">
                            <label asp-for="Cnpj" class="control-label"></label>
                            <input asp-for="Cnpj" class="form-control"  disabled />
                            <span asp-validation-for="Cnpj" class="text-danger"></span>
                        </div>
                        <div class="form-group col-auto col-sm-5">
                            <label asp-for="Ie" class="control-label"></label>
                            <input asp-for="Ie" class="form-control"  disabled />
                            <span asp-validation-for="Ie" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-8">
                            <label asp-for="Endereco" class="control-label"></label>
                            <input asp-for="Endereco" class="form-control"  disabled />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-2">
                            <label asp-for="Numero" class="control-label"></label>
                            <input asp-for="Numero" class="form-control"  disabled />
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control"  disabled />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-5">
                            <label asp-for="NomeCidade" class="control-label"></label>
                            <input asp-for="NomeCidade" class="form-control"  disabled />
                            <span asp-validation-for="NomeCidade" class="text-danger"></span>
                        </div>
                        <div class="col-auto col-sm-2">
                            <label asp-for="UF" class="control-label"></label>
                            <input asp-for="UF" class="form-control" disabled />
                            <span asp-validation-for="NomeCidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="Cep" class="control-label"></label>
                            <input asp-for="Cep" class="form-control"  disabled />
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="FaturaSerie" class="control-label"></label>
                            <input asp-for="FaturaSerie" class="form-control"  disabled />
                            <span asp-validation-for="FaturaSerie" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label asp-for="FaturaUltimoNumero" class="control-label"></label>
                            <input asp-for="FaturaUltimoNumero" class="form-control"  disabled />
                            <span asp-validation-for="FaturaUltimoNumero" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-10">
                            <label asp-for="MensagemFisco" class="control-label"></label>
                            <input asp-for="MensagemFisco" class="form-control"  disabled />
                            <span asp-validation-for="MensagemFisco" class="text-danger"></span>
                        </div>
                     
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpresa" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-warning">Voltar</a>
    </form>
</div>
