@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="container text-center">
    
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Acesso negado.</p>
    <a asp-area="Identity" asp-page="/Account/Logout">Voltar Para página inicial</a>
    
</header>
