@model projFront.ViewModels.NotaFiscalViewModel

@{
    ViewData["Title"] = "Deleção Nota Fiscal";
}

<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<br />
<h3>Deseja realmente deletar essa Nota Fiscal do sistema?</h3>
<div>
    
    <hr />
    <div class="col-md-10">
        <div class="row gy-2 gx-3 align-items-center">
            <input type="hidden" id="mensagem" value="@ViewData["Mensagem"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-auto col-sm-7">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" disabled />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-5">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" disabled />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-5">
                <label asp-for="Ie" class="control-label"></label>
                <input asp-for="Ie" class="form-control" disabled />
                <span asp-validation-for="Ie" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-5">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" disabled />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" disabled />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-4">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" disabled />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-5">
                <label asp-for="NomeCidade" class="control-label"></label>
                <input asp-for="NomeCidade" class="form-control" disabled />
                <span asp-validation-for="NomeCidade" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-1">
                <label asp-for="Uf" class="control-label"></label>
                <input asp-for="Uf" class="form-control" disabled />
                <span asp-validation-for="Uf" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" disabled />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="NumeroTelefone" class="control-label"></label>
                <input asp-for="NumeroTelefone" class="form-control" disabled />
                <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-10">
                <label asp-for="DescricaoServico" class="control-label"></label>
                <input asp-for="DescricaoServico" class="form-control" disabled />
                <span asp-validation-for="DescricaoServico" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" disabled />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="Banco" class="control-label"></label>
                <input asp-for="Banco" class="form-control" disabled />
                <span asp-validation-for="Banco" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" disabled />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="Conta" class="control-label"></label>
                <input asp-for="Conta" class="form-control" disabled />
                <span asp-validation-for="Conta" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="PixChave" class="control-label"></label>
                <input asp-for="PixChave" class="form-control" disabled />
                <span asp-validation-for="PixChave" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="PixNumero" class="control-label"></label>
                <input asp-for="PixNumero" class="form-control" disabled />
                <span asp-validation-for="PixNumero" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
              <!--  <label asp-for="IdEmpresa" class="control-label"></label>
                <input asp-for="IdEmpresa" class="form-control" disabled />
                  <span asp-validation-for="IdEmpresa" class="text-danger"></span> -->
            </div>
            <div class="form-group col-auto col-sm-3">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" disabled />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="FaturaSerie" class="control-label"></label>
                <input asp-for="FaturaSerie" class="form-control" disabled />
                <span asp-validation-for="FaturaSerie" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-2">
                <label asp-for="FaturaNumero" class="control-label"></label>
                <input asp-for="FaturaNumero" class="form-control" disabled />
                <span asp-validation-for="FaturaNumero" class="text-danger"></span>
            </div>
            <div class="form-group col-auto col-sm-10">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" disabled />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </form>
        </div>
    </div>
    
   
</div>

@if (TempData["MensagemErro"] != null)
{
    <div id="mensagemErro" style="display: none;">@TempData["MensagemErro"]</div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var mensagemErro = document.getElementById("mensagemErro");
        if (mensagemErro) {
            Swal.fire({
                title: 'Aviso',
                text: mensagemErro.textContent,
                icon: 'warning',
                confirmButtonText: 'Ok'
            });
        }
    });
</script>