@model projFront.ViewModels.NotaFiscalViewModel

@{
    ViewData["Title"] = "Edição da Nota";
}

<h1>Editar Nota Fiscal</h1>


<hr />

<style>
    label {
        font-family: "Roboto", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #93939f;
        text-align: left;
    }
</style>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="basic-form">

            <form asp-action="Edit" class="row gy-2 gx-3 align-items-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Cnpj"></label>
                        <input asp-for="Cnpj" class="form-control" placeholder="00.000.000/0000-00" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-5">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="IncricaoEstadual" class="control-label"></label>
                        <input asp-for="IncricaoEstadual" class="form-control" />
                        <span asp-validation-for="IncricaoEstadual" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="NumeroTelefone" class="control-label"></label>
                        <input asp-for="NumeroTelefone" class="form-control" />
                        <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="IdEmpresa" class="control-label"></label>
                        <input asp-for="IdEmpresa" class="form-control" />
                        <span asp-validation-for="IdEmpresa" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Cep" class="control-label"></label>
                        <input asp-for="Cep" class="form-control" />
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-4">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="NomeCidade" class="control-label"></label>
                        <input asp-for="NomeCidade" class="form-control" />
                        <span asp-validation-for="NomeCidade" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-1">
                        <label asp-for="Uf" class="control-label"></label>
                        <input asp-for="Uf" class="form-control" />
                        <span asp-validation-for="Uf" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="ValorTotal" class="control-label"></label>
                        <input asp-for="ValorTotal" class="form-control" />
                        <span asp-validation-for="ValorTotal" class="text-danger"></span>
                    </div>

                    <div class="form-group col-auto col-sm-10">
                        <label asp-for="DescricaoServico" class="control-label"></label>
                        <textarea asp-for="DescricaoServico" class="form-control"> </textarea>
                        <span asp-validation-for="DescricaoServico" class="text-danger"></span>
                    </div>
                </div>

                <hr />

                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Banco" class="control-label"></label>
                    <input asp-for="Banco" class="form-control" />
                    <span asp-validation-for="Banco" class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Agencia" class="control-label"></label>
                    <input asp-for="Agencia" class="form-control" disabled />
                    <span asp-validation-for="Agencia" class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="Conta" class="control-label"></label>
                    <input asp-for="Conta" class="form-control" disabled />
                    <span asp-validation-for="Conta" class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixChave" class="control-label"></label>
                    <input asp-for="PixChave" class="form-control" disabled />
                    <span asp-validation-for="PixChave" class="text-danger"></span>
                </div>
                <div class="form-group col-auto col-sm-2">
                    <label asp-for="PixNumero" class="control-label"></label>
                    <input asp-for="PixNumero" class="form-control" disabled />
                    <span asp-validation-for="PixNumero" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaNumero" class="control-label"></label>
                        <input asp-for="FaturaNumero" class="form-control" />
                        <span asp-validation-for="FaturaNumero" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-2">
                        <label asp-for="FaturaSerie" class="control-label"></label>
                        <input asp-for="FaturaSerie" class="form-control" />
                        <span asp-validation-for="FaturaSerie" class="text-danger"></span>
                    </div>
                    <div class="form-group col-auto col-sm-3">
                        <label asp-for="DataEmissao" class="control-label"></label>
                        <input asp-for="DataEmissao" class="form-control" />
                        <span asp-validation-for="DataEmissao" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-auto col-sm-10">
                    <label asp-for="MensagemFisco" class="control-label"></label>
                    <textarea asp-for="MensagemFisco" class="form-control"> </textarea>
                    <span asp-validation-for="MensagemFisco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                    <a class="btn btn-warning" asp-action="Index">Voltar</a>
                </div>
            </form>

         </div>
    </div>
</div>


    




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
